<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <title>Naive</title>
    <link rel="stylesheet" href="./main.css">
    <script src="main.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar">
        <div id="sidebar-buttons">
          
        </div>
        <div class="selected sidebar-content" id="files">
          <p>Files here</p>
        </div>
      </div>
      <div id="iframe-container">
        <iframe id="content" src="editor.html">
      </div>
    </div>
  </body>
</html>
