<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <title>Naive &mdash; Preferences</title>
    <link rel="stylesheet" href="./preferences.css">
    <script src="preferences.js"></script>
  </head>
  <body>
    <!-- As specified in /main.js, this window has minWidth 300 and minHeight
         100 -->
    <header class="tabs">
      <span class="selected tab">General</span>
      <span class="tab">Editor</span>
      <span class="tab">Themes</span>
    </header>
  </body>
</html>
